<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us at Ively</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>
    <header>
        <h1>All About Ively</h1>
        <nav class="navbar">
            <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('shop') }}">Shop</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Your cozy place for creative ideas!</h2>
        <p>Welcome to the about</p>
    </main>
    <footer class="footer">
        <p>&copy; 2025 Cozy Creations. All rights reserved.</p>
    </footer>
</body>
</html>